*.o
*.so
*.exe
*.stackdump
*.out
constraints
constraints1
constraints2
crash1
crash2
crash3
double1
first0
first1
schema1
schema2
strlen1
strlen2
strlen3
strlen4
strlen5
strlen6
strlen7
side_effect
suite1
test_as_xml0
test_as_xml1
test_as_xml2
test_as_xml3
test_as_xml4
words0
words1
words2
words3
words4
words5
words6
words7
words8
words9
formatter3
formatter4
formatter5
stream_test4
formatter6
custom_constraint1
custom_constraint2
custom_constraint3
