#!/usr/bin/make -f
# Don't really know what of all this is necessary,
# any help to clean this up is appreciated..

#export DH_VERBOSE=1

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

SRC	:= $(CURDIR)
BUILD	:= $(SRC)/build
TARGET	:= $(SRC)/debian/tmp

configure: configure-stamp
configure-stamp:
	[ -d $(BUILD) ] || mkdir $(BUILD)
	cd $(BUILD) && cmake $(CURDIR) -DCMAKE_INSTALL_PREFIX="/usr" \
		-DCMAKE_SKIP_RPATH=ON \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DLIB_INSTALL_DIR=/usr/lib
	touch configure-stamp

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp: configure
	$(MAKE) -C $(BUILD)
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	-(cd $(BUILD) && ctest -DExperimental --force-new-ctest-process -V)
	rm -rf /tmp/testbed.*
endif
	touch build-stamp

clean:
	rm -f configure-stamp build-stamp
	rm -rf $(BUILD)
	dh_clean

install: build
	dh_prep
	dh_installdirs

	$(MAKE) -C $(BUILD) install DESTDIR=$(TARGET)
	dh_install --sourcedir=$(TARGET) --list-missing

binary-arch: build install
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_strip 
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_lintian
	dh_md5sums
	dh_builddeb


binary: binary-indep binary-arch
.PHONY: configure build clean binary-indep binary-arch binary-common binary
